* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: pink;
}

.container {
    max-width: 1024px;
    width: 100%;
}

header h1 {
    margin-bottom: 16px;
}

section {
    padding: 48px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

form {
    max-width: 360px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}