* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #1947c8;
    padding-top: 16px;
    color: white;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: white;
    text-decoration: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    color:  #1947c8;
    margin-bottom: 30px;
}

section h2 {
    border-bottom: 2px solid #1947c8;
}

.lista-produtos li img {
    max-width: 100%;
    height: 182px;
}

.lista-produtos {
    display: grid;
    grid-template-columns: repeat(4, 23.7%);
    column-gap: 1%;
    row-gap: 5%;
    list-style: none;
    flex-wrap: wrap;
}

.lista-produtos li h3 {
    margin: 12px 0;
    font-size: 20px;
}

.lista-produtos li p {
    margin: 13px 0;

}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #1947c8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

@media screen and (max-width: 767px) {

    .container {
        max-width: 90%;
    }

    .container {
        display: block;
    }

    #sobre-a-loja img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #sobre-a-loja img {
        max-width: 500px;
        padding-bottom: 100px;
    }

    section h2 {
        margin-top: -55px;
    }

    .lista-produtos {
        grid-template-columns: repeat(2, 49%);
        flex-direction: column;
        height: 100%;
        padding-bottom: 40px;
    }

    .lista-produtos li img {
        max-width: 100%;
        height: 254px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container {
        max-width: 90%;
    }

    #sobre-a-loja img {
        font-size: 1.5em;
    }

    .lista-produtos {
        grid-template-columns: repeat(2, 49%);
        flex-direction: column;
        height: 100%;
        padding-bottom: 40px;
    }

    .lista-produtos li img {
        max-width: 100%;
        height: 254px;
    }
}

@media screen and (min-width: 375px) and (max-width: 570px) {
    
    .container {
        max-width: 90%;
    }

    .container {
        display: block;
    }

    #sobre-a-loja img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #sobre-a-loja img {
        max-width: 340px;
        padding-bottom: 82px;
    }

    .lista-produtos {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(1, 99%);
        column-gap: 1rem;
        row-gap: 3%;
        padding-bottom: 130px;
    }
}